{% extends 'index.html' %}
{% block title%} Formulario para positions {%endblock title %}
{%block cuerpo%}
<h2>Formulario de Position</h2>

<br>
<div class="container-fluid">
    <div class="form-group">
    <form method="post" >
    {% csrf_token %} 
    {{ form}}
    <br/>
    <br/>
    <button type="submit" class="btn btn-primary">CREAR o EDITAR</button>
    </form>
    <br>
    <a href="{% url 'index_position' %}"><button class="btn btn-outline-secondary">Volver</button></a>
    <br>
    </div>
</div>

{%endblock cuerpo%}