{% extends 'index.html' %}
{% block title%} Resultado Menus {%endblock title %}
{%block cuerpo%}
<h2>Menus Resultado</h2>
        <br>
        <a href="{% url 'index' %}"><button class="btn btn-outline-success btn-sm">Ir a inicio</button></a>
        <br><br>
        {% for menu in object_list %}
        <nav  style = "padding-left:5rem;" class = " {{menu.position}} navbar  navbar-light p2 bg-light">
            <a class="navbar-brand" href="{{menu.link}}">{{menu.title}}</a>
        </nav>
        <br>
        {%endfor%}

{%endblock cuerpo%}