{% extends 'index.html' %}
{%block cuerpo%}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Verificación</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">500 Error Page</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-danger">?</h2>
        
        <div class="error-content">
        <form method="post" >
        {% csrf_token %} 
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> ¿Desea eliminar la nota '{{object}}'?</h3>
        <button type="submit" class="btn btn-primary">Confirmar</button>
        <a href="{%url 'index'%}" class="btn btn-secondary">Cancelar</a>
        </form>
        </div>
      </div>
      <!-- /.error-page -->

    </section>
    <!-- /.content -->
  </div>

{%endblock cuerpo%}